body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

p {
	margin-bottom: 12px; /*У всех абзацев отступ снизу 12 пикселей*/
}

h1, h2, h3 {
	font-weight: 400; /*Заголовков первых трёх уровней: вес шрифта 400*/
}

h1 {
	font-size: 36px;/*размер шрифта 36 пикселей*/
	margin-bottom: 0;/*отступ снизу 0*/
}

h2 {
	font-size: 32px;/*размер шрифта 32 пикселя;*/
	border-bottom: 1px solid #ccc;/*граница снизу толщиной 1 пиксель серого цвета*/
	margin-bottom: 8px;/*отступ снизу 8 пикселей*/
}

h3 {
	font-size: 20px;/*размер шрифта 20 пикселей*/
	margin-bottom: 0;/*отступ снизу 0*/
}
#header {
	margin-bottom: 32px;/*отступ снизу 32 пикселя*/
	text-align: center;/*выравнивание текста по центру*/
}
#footer {
	margin-top: 64px;
	text-align: center;
}
